@page
@model UserApplication.Pages.User.IndexModel
@using UserApplication.Model;
@{
}

<form method="post" enctype="multipart/form-data">
    
    <div class="row mb-sm-3">
        <div class="col-sm-3">
            <label>Name :</label>
        </div>
        <div class="col-sm-3">
            <input type="text" name="Name" value="@Model.user.Name" class="form-control"/>
       </div>
    </div>
    <div class="row mb-md-3">
        <div class="col-md-3">
            <label>Email :</label>
        </div>
        <div class="col-md-3">
            <input type="email" name="Email" value="@Model.user.Email"  class="form-control"/>
        </div>
    </div>
    <div class="row mb-md-3">
        <div class="col-md-3">
        <label>Phone :</label>
        </div>
        <div class="col-md-3">
            <input type="number" name="Phone" value="@Model.user.Phone" class="form-control"/>
        </div>
    </div>
    

    @* <div class="row mb-md-3">
        <div class="col-md-3">
            <label>File:</label>
        </div>
        <div class="col-md-3">
            <input type="file" name="FileContent" value="@Model.user.FileContent" class="form-control" />
        </div>
    </div> *@

    <div>
        <label for="Gender">Gender</label>
    </div>
    <div>
        <input type="radio" id="male" name="Gender" value="Male" @(Model.user.UserGender  == Gender.Male)/>
        <label for="male">Male</label>
    </div>
    <div>
        <input type="radio" id="female" name="Gender" value="Female" @(Model.user.UserGender == Gender.Female) />
        <label for="female">Female</label>
    </div>
    <div class="mt-5">
    <div class="row mb-md-3">
        <div class="col-md-3">
            <label>File:</label>
        </div>
        <div class="col-md-3">
            @if (Model.user.FileContent != null && Model.user.FileContent.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.user.FileContent)" alt="File Preview" />
            }
            else
            {
                <input type="file" name="FileContent" class="form-control" />
            }
        </div>
        </div>
    </div>
    <div class="mt-5">
    <div class="row mb-md-3">
        <div class="col-md-3 text-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    </div>
</form>


